      div {
        margin: 0px;
        padding: 0%;
      }

      .nav-barr {
        text-align: center;
        font-size: 17px;
        padding: 14px 16px;
        background-color: transparent;
        overflow: hidden;
        color: white;
        margin-top: -50px;
      }

      body {
        background-image: url(assets/pictures/myphotoblack.png);
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 0px 5px 0px 5px;
        background-color: black;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
      }

      a {
        color: white; 
        text-decoration-line: none; 
      }
      
     

        button {
          width: 150px;
          height: 40px;
          border-radius: 50px;
          border-color: white;
          background-color: transparent;
          border-style: groove;
          color: white;
          cursor: pointer;
        }
        button:hover {
          color: black;
          background-color: white;
        }
      

      .logo {
        background-color: none;
        padding: 0%;
        margin: 0%;
      }

      .aynorm {
        text-align: center;
        font-weight: 500;
        font-size: 70px;
        margin-bottom: 0px;
      }

      .paragraph-w {
        font-size: 25px;
        font-weight: lighter;
        text-align: center;
      }

      .imagess {
        max-width: 380px;
        width: 100%;
        gap: 10px;
        margin: 0%;
        padding: 0%;
        height: 350p;
      }

      .good-div {
        margin-left: 0px;
        width: 100%;
        max-width: 380px;
        gap: 30px;
        margin-left: 15px;
      }

      .goods-name {
        margin-top: -80p;
        font-size: 23px;
        font-family: roboto;
        margin-left: 10%;
      }

      .skills {
        width: 110px;
        border-radius: 50%;
        height: 110px;
        background-color: green;
      }
      .skills-pag {
        font-size: 35px;
          font-weight: 500;
          margin-left: 25px;
          margin-top: -5px;
          
      }
      .skills:hover{
        background-color: white;
        color: black;
      }

      .profession-logo {
        width: 220px;
      }

      .general-services {
        display: flex;
        flex-wrap: wrap;
      }

      .digital,
      .web,
      .user,
      .development,
      .wordpress,
      .mobile {
        padding: 30px;
        width: 100%;
        max-width: 380px;
        text-align: center;
      }
      .my-service-pic {
        width: 50px;
        margin: -20px;
      }

      .inner-service {}

      .text-name {
        background-color: transparent;
        height: 30px;
        border: none;
        color: red;
        font-weight: 500;
        margin: 20px 0px 20px 0px;
        gap: 40px;
      }
      .form-control {
          background-color: transparent;
          border: none;
          margin: 20px 0px 20px 0px;
          gap: 40px;
      }

      .e-p-a {
        font-size: 11px;
        font-weight: 700;
      }

      .tale-234-smo {
        font-size: 20px;
        font-weight: 300;
        font-family: roboto;
        margin: 0%;
      }

      .contact {
        margin: 20px;
      }

      .social-med {
        width: 30px;
      }